/* Splošno */
body {
    background-color: #f5f5dc; /* Kremno bela */
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

/* Glava s senco */
header {
    background-color: #e7d3bc;
    padding: 20px;
    text-align: center;
    box-shadow: 0px 4px 2px -2px gray; /* Senca za glavo */
}

/* Meni */
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    border-bottom: 2px solid black; /* Črna črta pod menijem */
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

/* Menijski elementi - brez ozadja, samo obarvana pisava */
nav ul li a {
    text-decoration: none;
    color: #000; /* Črna osnovna barva besedila */
    padding: 10px;
    font-weight: bold;
}

nav ul li a:hover {
    color: #808080; /* Obarvana pisava ob hover (siva) */
}

/* Glavno okno */
main {
    padding: 40px;
    text-align: center;
}

/* Footer */
footer {
    background-color: #e7d3bc;
    text-align: center;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
}
